<a href="https://colab.research.google.com/github/pratimavermaa/Python_selfpractice/blob/main/DOBGenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
from datetime import datetime, timedelta

min_year=1901
max_year=2020

start = datetime(min_year, 1, 1)
years = max_year - min_year+1
end = timedelta(days=365 * years)

random_date = [(start + (end) * random.random()).strftime("%dth,%b, %Y") for i in range(25)]
print(str(random_date))
['05th,Jul, 2009', '21th,Mar, 1922', '31th,Mar, 1931', '03th,Apr, 1985', '03th,Sep, 1987', '29th,Apr, 2018', '12th,Nov, 1944', '06th,Jan, 1981', '11th,Mar, 1933', '12th,Oct, 1920', '19th,Jul, 1998', '02th,Jun, 2012', '08th,Jun, 1915', '21th,Oct, 1914', '07th,Mar, 2013', '06th,Apr, 1994', '14th,May, 1905', '15th,Jul, 1920', '27th,Mar, 1946', '16th,Dec, 1908', '22th,Sep, 2010', '05th,Feb, 1946', '24th,Feb, 1917', '11th,Jan, 1961', '20th,Nov, 1986']


# print[random_date.strftime("%dth,%b, %Y") for date in dates if date.month == month]
# [date for date in dates if date.month == month]

['05th,Jul, 2009', '21th,Mar, 1922', '31th,Mar, 1931', '03th,Apr, 1985', '03th,Sep, 1987', '29th,Apr, 2018', '12th,Nov, 1944', '06th,Jan, 1981', '11th,Mar, 1933', '12th,Oct, 1920', '19th,Jul, 1998', '02th,Jun, 2012', '08th,Jun, 1915', '21th,Oct, 1914', '07th,Mar, 2013', '06th,Apr, 1994', '14th,May, 1905', '15th,Jul, 1920', '27th,Mar, 1946', '16th,Dec, 1908', '22th,Sep, 2010', '05th,Feb, 1946', '24th,Feb, 1917', '11th,Jan, 1961', '20th,Nov, 1986']